nav a {
    color: #fff;
}

form {
	position: fixed;
    left: 35%;
    top: 35%;
    width: 50%;

    .form-control {
        display: block;
        width: 50%;
    }
}
.card.text-white {
    float: left;
    box-sizing: border-box;
    margin: 1% 1% 0 0;
    text-align: center;
    width: 9rem;
    height: 8rem;
    color: #fff;

    p {
        font-size: 2rem;
    }
}

@media (max-width: 475px) {
	.card.text-white {
	    float: none;
	    width:auto;
	}
}