doctype html
html
  head
    link(href="css/main.css" rel="stylesheet")
    link(href="css/bootstrap.min.css" rel="stylesheet")
    script(src="js/libs.min.js")
    script(src="js/main.js")
  body
    block content
