extends layouts/main

block content
    mixin movie()
        - var status = '1'
        - if (status === '1')
            include components/menu.pug
            include components/panels.pug
        - else
            include login.pug

    +movie()