div(class="container")
  .errors
  form(id="auth")
    .form-group
      label(for="inputEmail") Email address
      input(type="email" class="form-control" id="inputEmail")
      small(id="emailHelp" class="form-text text-muted") We'll never share your email with anyone else.
    .form-group
      label(for="inputPassword") Password
      input(type="password" class="form-control" id="inputPassword")
    button(type="submit" class="btn bnt-primary" form="auth" onclick='login(form.elements.inputEmail.value, form.elements.inputPassword.value)') Отправить