nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
    div.container
        a.navbar-brand(href="#") JARVI
        button.navbar-toggler(type="button", data-toggle="collapse", data-target="#navbarNavAltMarkup", aria-controls="navbarNavAltMarkup", aria-expanded="false", aria-label="Toggle navigation")
            span.navbar-toggler-icon
        div.collapse.navbar-collapse(id="navbarNavAltMarkup")
            ul.navbar-nav.mr-auto
                li.nav-item.active
                    a(href="#" class="nav-link") Главная      