div.container
    mixin panel(color, name, data)
        div.card.text-white.mb-3(class= "bg-"+color)
            div.card-header #{name} 
            div.card-body
                p.card-text #{data}
                    

    +panel('success','Температура', '15')
    +panel('info','Влажность','55')
    +panel('light','Газ','33')